.App {
  text-align: center;
}
.todolist {
  border: 5px solid #9b59b6;
  width: 30%;
  margin: 20px auto;
  padding: 20px;
  background: #ecf0f1;
  border-radius: 4px;
}
.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root:focus {
  color: red !important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
